
@{
    ViewBag.Title = "Building";
}

<div class="col-sm-10 offset-sm-1 col-xl-8 offset-xl-2 bg-light-7">
    <div class="mt-5 text-center text-h-lgdt-vtb hub-lg">
        网站正在构建……
        <br />
        敬请期待！
    </div>
</div>

@section scripts{
    <script>
        $(document.body).addClass("bg-dark");
    </script>
}