
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Study/Views/Shared/_LayoutDefault.cshtml";
}
<div class="center-block">
    <h2>Study Area Index</h2>
</div>
<div class="container">
    <div class="row">
        <div class="card col-sm-12 col-md-6 col-lg-4 col-xl-3">
            <div class="card" style="width:300px">
                <img class="card-img-top" src="~/Areas/Study/Images/csharp.jpg" alt="c# image" style="width:100%;height:200px;">
                <div class="card-body">
                    <h4 class="card-title">C#</h4>
                    <p class="card-text">C#是微软公司发布的一种面向对象的、运行于.NET Framework之上的高级程序设计语言。</p>
                    <a href="#" class="btn btn-primary">查看更多</a>
                </div>
            </div>
        </div>

        <div class="card col-sm-12 col-md-6 col-lg-4 col-xl-3">
            <div class="card" style="width:300px">
                <img class="card-img-top" src="~/Areas/Study/Images/mvc.jpg" alt="mvc image" style="width:100%;height:200px;">
                <div class="card-body">
                    <h4 class="card-title">MVC</h4>
                    <p class="card-text">MVC全名是Model View Controller，是模型(model)－视图(view)－控制器(controller)的缩写。</p>
                    <a href="#" class="btn btn-primary">查看更多</a>
                </div>
            </div>
        </div>

        <div class="card col-sm-12 col-md-6 col-lg-4 col-xl-3">
            <div class="card" style="width:300px">
                <img class="card-img-top" src="~/Areas/Study/Images/bootstrap.jpg" alt="bootsrap image" style="width:100%;height:200px;">
                <div class="card-body">
                    <h4 class="card-title">Bootsrap</h4>
                    <p class="card-text">Bootstrap是美国Twitter公司的设计师Mark Otto和Jacob Thornton合作基于HTML、CSS、JavaScript 开发的简洁、直观、强悍的前端开发框架，使得 Web 开发更加快捷。</p>
                    <a href="#" class="btn btn-primary">查看更多</a>
                </div>
            </div>
        </div>

        <div class="card col-sm-12 col-md-6 col-lg-4 col-xl-3">
            <div class="card" style="width:300px">
                <img class="card-img-top" src="~/Areas/Study/Images/h5.jpg" alt="h5 image" style="width:100%;height:200px;">
                <div class="card-body">
                    <h4 class="card-title">H5</h4>
                    <p class="card-text">万维网的核心语言、标准通用标记语言下的一个应用超文本标记语言（HTML）的第五次重大修改</p>
                    <a href="#" class="btn btn-primary">查看更多</a>
                </div>
            </div>
        </div>
    </div>
</div>
