@{
    ViewBag.Title = "二维码生成器";
}

<div class="row ml-0 mr-0 mt-5"> @* align-items-centerjustify-content-center login-center*@
    <div class="col-10 offset-1 col-sm-8 offset-sm-2 bg-teal-7">
        <h4>欢迎使用二维码生成器！</h4>
        <hr />


        <div class="form-group">
            <label class="control-label" for="content">内容：</label>
            <div class="col-md-10 p-0">
                <input type="text" id="content" class="form-control"/>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10 p-0">
                <a href="javascript:void(0)" class="btn btn-primary" role="button" onclick="getQRCode($('#content').val())">生成二维码</a>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10 p-0">
                <img id="QRCodeImage" height="300" width="300"/>
            </div>
        </div>

    </div>

</div>

@section Scripts {
    <script>
        getQRCode("@WorkContext.Url");

        function getQRCode(content) {
            $('#QRCodeImage').attr("src", '/tools/program/qrcode/GetQRCode?content=' + $('#content').val());
            $('#QRCodeImage').attr("title", content);
        }
    </script>
}
