/*动画参数*/
.ani-dur-1 {
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
}

.ani-dur-2 {
    animation-duration: 2s;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
}


/*以下为动画*/
@-webkit-keyframes hub {
    from {
        -webkit-filter: hue-rotate(0deg);
    }

    to {
        -webkit-filter: hue-rotate(360deg);
    }
}

@keyframes hub {
    from {
        -webkit-filter: hue-rotate(0deg);
    }

    to {
        -webkit-filter: hue-rotate(360deg);
    }
}

.hub {
    animation: hub 20s infinite;
    -webkit-animation: hub 20s infinite;
}

.hub-lg {
    font-size: 6rem;
    background-image: linear-gradient(0deg,#0094ff,#ffd800);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: hub 20s infinite;
    -webkit-animation: hub 20s infinite;
}

/*兔展*/
.translate {
    -webkit-animation-name: translate;
    animation-name: translate;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
}

@-webkit-keyframes translate {
    0% {
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg);
        opacity: 0;
    }

    to {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        opacity: 1;
    }
}

@keyframes translate {
    0% {
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg);
        opacity: 0;
    }

    to {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        opacity: 1;
    }
}

.translateReverse {
    -webkit-animation-name: translateReverse;
    animation-name: translateReverse;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
}

@-webkit-keyframes translateReverse {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        opacity: 0;
    }

    to {
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg);
        opacity: 1;
    }
}

@keyframes translateReverse {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        opacity: 0;
    }

    to {
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg);
        opacity: 1;
    }
}