/*动画参数*/
.ani-dur-1 {
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
}

.ani-dur-2 {
    animation-duration: 2s;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
}


/*以下为动画*/
@-webkit-keyframes hub {
    from {
        -webkit-filter: hue-rotate(0deg);
    }

    to {
        -webkit-filter: hue-rotate(360deg);
    }
}

@keyframes hub {
    from {
        -webkit-filter: hue-rotate(0deg);
    }

    to {
        -webkit-filter: hue-rotate(360deg);
    }
}

.hub {
    animation: hub 20s infinite;
    -webkit-animation: hub 20s infinite;
}

.hub-lg {
    font-size: 5rem;
    background-image: linear-gradient(0deg,#0094ff,#ffd800);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: hub 20s infinite;
    -webkit-animation: hub 20s infinite;
}

/*兔展*/
.rotate2d {
    -webkit-animation-name: rotate2d;
    animation-name: rotate2d;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}

@-webkit-keyframes rotate2d {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn);
    }
}

@keyframes rotate2d {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn);
    }
}

.translate {
    -webkit-animation-name: translate;
    animation-name: translate;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
}

@-webkit-keyframes translate {
    0% {
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg);
        opacity: 0;
    }

    to {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        opacity: 1;
    }
}

@keyframes translate {
    0% {
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg);
        opacity: 0;
    }

    to {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        opacity: 1;
    }
}

.translateReverse {
    -webkit-animation-name: translateReverse;
    animation-name: translateReverse;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
}

@-webkit-keyframes translateReverse {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        opacity: 0;
    }

    to {
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg);
        opacity: 1;
    }
}

@keyframes translateReverse {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        opacity: 0;
    }

    to {
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg);
        opacity: 1;
    }
}

.pullDown {
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-animation-name: pullDown;
    animation-name: pullDown;
    /*-webkit-animation-duration: 1.1s;
    animation-duration: 1.1s;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;*/
}

@-webkit-keyframes pullDown {
    1%,40%,60%,80%,99% {
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    0% {
        -webkit-transform: scaleY(.1);
        transform: scaleY(.1);
        -webkit-transform-origin: 50% 0;
        transform-origin: 50% 0;
        opacity: 0;
    }

    40% {
        -webkit-transform: scaleY(1.02);
        transform: scaleY(1.02);
        -webkit-transform-origin: 50% 0;
        transform-origin: 50% 0;
        opacity: 1;
    }

    60% {
        -webkit-transform: scaleY(.98);
        transform: scaleY(.98);
        -webkit-transform-origin: 50% 0;
        transform-origin: 50% 0;
    }

    80% {
        -webkit-transform: scaleY(1.01);
        transform: scaleY(1.01);
        -webkit-transform-origin: 50% 0;
        transform-origin: 50% 0;
    }

    99% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transform-origin: 50% 0;
        transform-origin: 50% 0;
    }

    to {
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes pullDown {
    1%,40%,60%,80%,99% {
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    0% {
        -webkit-transform: scaleY(.1);
        transform: scaleY(.1);
        -webkit-transform-origin: 50% 0;
        transform-origin: 50% 0;
        opacity: 0;
    }

    40% {
        -webkit-transform: scaleY(1.02);
        transform: scaleY(1.02);
        -webkit-transform-origin: 50% 0;
        transform-origin: 50% 0;
        opacity: 1;
    }

    60% {
        -webkit-transform: scaleY(.98);
        transform: scaleY(.98);
        -webkit-transform-origin: 50% 0;
        transform-origin: 50% 0;
    }

    80% {
        -webkit-transform: scaleY(1.01);
        transform: scaleY(1.01);
        -webkit-transform-origin: 50% 0;
        transform-origin: 50% 0;
    }

    99% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transform-origin: 50% 0;
        transform-origin: 50% 0;
    }

    to {
        -webkit-transform: none;
        transform: none;
    }
}

.pulse {
    -webkit-animation-name: pulse;
    animation-name: pulse;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }

    50% {
        -webkit-transform: scale3d(1.05,1.05,1.05);
        transform: scale3d(1.05,1.05,1.05);
    }

    to {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
}

@keyframes pulse {
    0% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }

    50% {
        -webkit-transform: scale3d(1.05,1.05,1.05);
        transform: scale3d(1.05,1.05,1.05);
    }

    to {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
}