
/*背景颜色*/
.bg-orange-3 {
  background-color: rgba(253, 126, 20, .3) !important;
}
.bg-orange-5 {
  background-color: rgba(253, 126, 20, .5) !important;
}
.bg-orange-7 {
  background-color: rgba(253, 126, 20, .7) !important;
}
.bg-orange-8 {
  background-color: rgba(253, 126, 20, .8) !important;
}

.bg-gray-3 {
  background-color: rgba(108, 117, 125, .3) !important;
}
.bg-gray-5 {
  background-color: rgba(108, 117, 125, .5) !important;
}
.bg-gray-7 {
  background-color: rgba(108, 117, 125, .7) !important;
}
.bg-gray-8 {
  background-color: rgba(108, 117, 125, .8) !important;
}

.bg-teal-3 {
  background-color: rgba(32, 201, 151, .3) !important;
}
.bg-teal-5 {
  background-color: rgba(32, 201, 151, .5) !important;
}
.bg-teal-7 {
  background-color: rgba(32, 201, 151, .7) !important;
}
.bg-teal-8 {
  background-color: rgba(32, 201, 151, .8) !important;
}

.bg-info-3 {
  background-color: rgba(23, 162, 184, .3) !important;
}
.bg-info-5 {
  background-color: rgba(23, 162, 184, .5) !important;
}
.bg-info-7 {
  background-color: rgba(23, 162, 184, .7) !important;
}
.bg-info-8 {
  background-color: rgba(23, 162, 184, .8) !important;
}

.bg-light-3 {
  background-color: rgba(248, 249, 250, .3) !important;
}
.bg-light-5 {
  background-color: rgba(248, 249, 250, .5) !important;
}
.bg-light-7 {
  background-color: rgba(248, 249, 250, .7) !important;
}
.bg-light-8 {
  background-color: rgba(248, 249, 250, .8) !important;
}

.bg-thin-red-3     { background-color: rgba(255, 20, 97, .3) !important; }
.bg-thin-red-5     { background-color: rgba(255, 20, 97, .5) !important; }
.bg-thin-red-7     { background-color: rgba(255, 20, 97, .7) !important; }
.bg-thin-red-8     { background-color: rgba(255, 20, 97, .8) !important; }
.bg-thin-red       { background-color: #FF1461; }

.bg-thin-orange-3  { background-color: rgba(255, 124, 114, .3) !important; }
.bg-thin-orange-5  { background-color: rgba(255, 124, 114, .5) !important; }
.bg-thin-orange-7  { background-color: rgba(255, 124, 114, .7) !important; }
.bg-thin-orange-8  { background-color: rgba(255, 124, 114, .8) !important; }
.bg-thin-orange    { background-color: #FF7C72; }

.bg-thin-yellow-3  { background-color: rgba(251, 243, 140, .3) !important; }
.bg-thin-yellow-5  { background-color: rgba(251, 243, 140, .5) !important; }
.bg-thin-yellow-7  { background-color: rgba(251, 243, 140, .7) !important; }
.bg-thin-yellow-8  { background-color: rgba(251, 243, 140, .8) !important; }
.bg-thin-yellow    { background-color: #FBF38C; }

.bg-thin-citrus-3  { background-color: rgba(166, 255, 143, .3) !important; }
.bg-thin-citrus-5  { background-color: rgba(166, 255, 143, .5) !important; }
.bg-thin-citrus-7  { background-color: rgba(166, 255, 143, .7) !important; }
.bg-thin-citrus-8  { background-color: rgba(166, 255, 143, .8) !important; }
.bg-thin-citrus    { background-color: #A6FF8F; }

.bg-thin-green-3    { background-color: rgba(24, 255, 146, .3) !important; }
.bg-thin-green-5    { background-color: rgba(24, 255, 146, .5) !important; }
.bg-thin-green-7    { background-color: rgba(24, 255, 146, .7) !important; }
.bg-thin-green-8    { background-color: rgba(24, 255, 146, .8) !important; }
.bg-thin-green      { background-color: #18FF92; }

.bg-thin-dark-green-3   { background-color: rgba(28, 226, 178, .3) !important; }
.bg-thin-dark-green-5   { background-color: rgba(28, 226, 178, .5) !important; }
.bg-thin-dark-green-7   { background-color: rgba(28, 226, 178, .7) !important; }
.bg-thin-dark-green-8   { background-color: rgba(28, 226, 178, .8) !important; }
.bg-thin-dark-green     { background-color: #1CE2B2; }

.bg-thin-turquoise-3    { background-color: rgba(94, 243, 251, .3) !important; }
.bg-thin-turquoise-5    { background-color: rgba(94, 243, 251, .5) !important; }
.bg-thin-turquoise-7    { background-color: rgba(94, 243, 251, .7) !important; }
.bg-thin-turquoise-8    { background-color: rgba(94, 243, 251, .8) !important; }
.bg-thin-turquoise      { background-color: #5EF3FB; }

.bg-thin-light-blue-3   { background-color: rgba(97, 195, 255, .3) !important; }
.bg-thin-light-blue-5   { background-color: rgba(97, 195, 255, .5) !important; }
.bg-thin-light-blue-7   { background-color: rgba(97, 195, 255, .7) !important; }
.bg-thin-light-blue-8   { background-color: rgba(97, 195, 255, .8) !important; }
.bg-thin-light-blue     { background-color: #61C3FF; }

.bg-thin-blue-3         { background-color: rgba(90, 135, 255, .3) !important; }
.bg-thin-blue-5         { background-color: rgba(90, 135, 255, .5) !important; }
.bg-thin-blue-7         { background-color: rgba(90, 135, 255, .7) !important; }
.bg-thin-blue-8         { background-color: rgba(90, 135, 255, .8) !important; }
.bg-thin-blue           { background-color: #5A87FF; }

.bg-thin-purple-3       { background-color: rgba(132, 83, 227, .3) !important; }
.bg-thin-purple-5       { background-color: rgba(132, 83, 227, .5) !important; }
.bg-thin-purple-7       { background-color: rgba(132, 83, 227, .7) !important; }
.bg-thin-purple-8       { background-color: rgba(132, 83, 227, .8) !important; }
.bg-thin-purple         { background-color: #8453E3; }

.bg-thin-lavender-3     { background-color: rgba(194, 110, 255, .3) !important; }
.bg-thin-lavender-5     { background-color: rgba(194, 110, 255, .5) !important; }
.bg-thin-lavender-7     { background-color: rgba(194, 110, 255, .7) !important; }
.bg-thin-lavender-8     { background-color: rgba(194, 110, 255, .8) !important; }
.bg-thin-lavender       { background-color: #C26EFF; }

.bg-thin-pink-3         { background-color: rgba(251, 137, 251, .3) !important; }
.bg-thin-pink-5         { background-color: rgba(251, 137, 251, .5) !important; }
.bg-thin-pink-7         { background-color: rgba(251, 137, 251, .7) !important; }
.bg-thin-pink-8         { background-color: rgba(251, 137, 251, .8) !important; }
.bg-thin-pink           { background-color: #FB89FB; }
/*背景颜色结束*/

/*普通文字颜色*/
.text-thin-red          { color: #FF1461; }
.text-thin-orange       { color: #FF7C72; }
.text-thin-yellow       { color: #FBF38C; }
.text-thin-citrus       { color: #A6FF8F; }
.text-thin-green        { color: #18FF92; }
.text-thin-dark-green   { color: #1CE2B2; }
.text-thin-turquoise    { color: #5EF3FB; }
.text-thin-light-blue   { color: #61C3FF; }
.text-thin-blue         { color: #5A87FF; }
.text-thin-purple       { color: #8453E3; }
.text-thin-lavender     { color: #C26EFF; }
.text-thin-pink         { color: #FB89FB; }


.text-thin-red-5        { color: rgba(255, 20, 97, .5) !important; }
.text-thin-orange-5     { color: rgba(255, 124, 114, .5) !important; }
.text-thin-yellow-5     { color: rgba(251, 243, 140, .5) !important; }
.text-thin-citrus-5     { color: rgba(166, 255, 143, .5) !important; }
.text-thin-green-5      { color: rgba(24, 255, 146, .5) !important; }
.text-thin-dark-green-5 { color: rgba(28, 226, 178, .5) !important; }
.text-thin-turquoise-5  { color: rgba(94, 243, 251, .5) !important; }
.text-thin-light-blue-5 { color: rgba(97, 195, 255, .5) !important; }
.text-thin-blue-5       { color: rgba(90, 135, 255, .5) !important; }
.text-thin-purple-5     { color: rgba(132, 83, 227, .5) !important; }
.text-thin-lavender-5   { color: rgba(194, 110, 255, .5) !important; }
.text-thin-pink-5       { color: rgba(251, 137, 251, .5) !important; }
/*普通文字颜色结束*/



/*渐变文字颜色*/

.text-v-lgdt-btg {
    background-image: linear-gradient(0deg,rgb(24, 211, 97), rgb(0, 148, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-h-lgdt-btg {
    background-image: linear-gradient(90deg,rgb(24, 211, 97), rgb(0, 148, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-v-lgdt-vtb {
    background-image: linear-gradient(0deg,rgb(178, 203, 238), rgb(100, 80, 142));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-h-lgdt-vtb {
    background-image: linear-gradient(90deg,rgb(178, 203, 238), rgb(100, 80, 142));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-v-lgdt-ryr {
    background-image: -webkit-linear-gradient(0deg,#c2382a, #f7c76b, #c2382a); /* Safari 5.1 - 6.0 */
    background-image: -o-linear-gradient(0deg,#c2382a, #f7c76b, #c2382a); /* Opera 11.1 - 12.0 */
    background-image: -moz-linear-gradient(0deg,#c2382a, #f7c76b, #c2382a); /* Firefox 3.6 - 15 */
    background-image: linear-gradient(0deg,#c2382a, #f7c76b, #c2382a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-h-lgdt-ryr {
    background-image: -webkit-linear-gradient(90deg,#c2382a, #f7c76b, #c2382a); /* Safari 5.1 - 6.0 */
    background-image: -o-linear-gradient(90deg,#c2382a, #f7c76b, #c2382a); /* Opera 11.1 - 12.0 */
    background-image: -moz-linear-gradient(90deg,#c2382a, #f7c76b, #c2382a); /* Firefox 3.6 - 15 */
    background-image: linear-gradient(90deg,#c2382a, #f7c76b, #c2382a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*渐变文字颜色结束*/


/*渐变背景颜色*/

.bg-lgdt-btg {
    background-image: linear-gradient(0deg,rgb(24, 211, 97),rgb(0, 148, 255));
}

.bg-lgdt-gtb {
    background-image: linear-gradient(0deg,rgb(0, 148, 255),rgb(24, 211, 97));
}

.bg-lgdt-vtb {
    background-image: linear-gradient(0deg,rgb(178, 203, 238),rgb(100, 80, 142));
}

.bg-lgdt-btv {
    background-image: linear-gradient(0deg,rgb(100, 80, 142),rgb(178, 203, 238));
}

.bg-lgdt-ryr {
    background: -webkit-linear-gradient(#c2382a, #f7c76b, #c2382a); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#c2382a, #f7c76b, #c2382a); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#c2382a, #f7c76b, #c2382a); /* Firefox 3.6 - 15 */
    background: linear-gradient(#c2382a, #f7c76b, #c2382a); /* 标准的语法 */
}
/*渐变背景颜色结束*/