body {
    /*padding-top: 50px;*/
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

input[type="checkbox"] {
    width: 1.25rem;
    height: 1.25rem;
    vertical-align: text-bottom;
}

input[type="radio"] {
    width: 1.25rem;
    height: 1.25rem;
    vertical-align: text-bottom;
}

a:hover{
    text-decoration:none;
}

.font-size-1{
    font-size:1rem;
}

.font-size-1-5{
    font-size:1.5rem;
}

.font-size-2{
    font-size:2rem;
}

.font-size-3{
    font-size:3rem;
}

.font-size-4{
    font-size:5rem;
}

.font-size-5{
    font-size:5rem;
}

.page-detail{
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #6c757d;
    background-color: #dee2e6;
    border: 1px solid #dee2e6;
}