
@{
    ViewBag.Title = "Targets";
    Layout = "~/Areas/Study/Views/Program/Shared/_LayoutAnimeJs.cshtml";
}


<h2>动画目标</h2>


<div class="col-12">
    <h4 class="mt-4">CSS选择器</h4>
    <div class="code-div">
        <div id="cssSelector">
            <div class="line">
                <div class="square shadow bg-thin-red-5"></div>
                <div class="square el bg-thin-red"></div>
            </div>
        </div>
    </div>

    <h4 class="mt-4">DOM元素</h4>
    <div class="code-div">
        <div id="domNode">
            <div class="large square shadow bg-thin-red-5"></div>
            <div class="large square el bg-thin-red"></div>
        </div>
    </div>

    <h4 class="mt-4">DOM元素列表</h4>
    <div class="code-div">
        <div id="nodeList">
            <div class="line">
                <div class="small square shadow bg-thin-red-5"></div>
                <div class="small square el bg-thin-red"></div>
            </div>
            <div class="line">
                <div class="small square shadow bg-thin-red-5"></div>
                <div class="small square el bg-thin-red"></div>
            </div>
            <div class="line">
                <div class="small square shadow bg-thin-red-5"></div>
                <div class="small square el bg-thin-red"></div>
            </div>
        </div>
    </div>

    <h4 class="mt-4">JAVASCRIPT对象</h4>
    <div class="code-div">
        <div id="JSobject">
            <pre class="text-thin-red">{"charged":"18%"}</pre>
        </div>
    </div>

    <h4 class="mt-4">JAVASCRIPT数组</h4>
    <div class="code-div">
        <div id="JSarray">
            <div class="line">
                <div class="square shadow bg-thin-red-5"></div>
                <div class="square el-01 bg-thin-red"></div>
            </div>
            <div class="line">
                <div class="square shadow bg-thin-red-5"></div>
                <div class="square el-02 bg-thin-red"></div>
            </div>
            <div class="line">
                <div class="square shadow bg-thin-red-5"></div>
                <div class="square el-03 bg-thin-red"></div>
            </div>
        </div>
    </div>

</div>

@section JsCode {
    @*CSS选择器*@
    <div class="js-code" data-id="cssSelector">
        function cssSel() {
            $('#cssSelector .el').css('transform', 'translateX(0px)');
            var cssSelector = anime({
            targets: '#cssSelector .el',
            translateX: 250
            });
        }
        cssSel();   // 立即执行
    </div>

    @*DOM元素*@
    <div class="js-code" data-id="domNode">
        function domNode() {
            $('#domNode .el').css('transform', 'translateX(0px)');

            var el = document.querySelector('#domNode .el');

            var domNode = anime({
            targets: el,
            translateX: 250
            });
        }
        domNode();   // 立即执行
    </div>

    @*DOM元素列表*@
    <div class="js-code" data-id="nodeList">
        function nodeList() {
            $('#nodeList .el').css('transform', 'translateX(0px)');

            var els = document.querySelectorAll('#nodeList .el');

            var nodeList = anime({
            targets: els,
            translateX: 250
            });
        }
        nodeList();   // 立即执行
    </div>

    @*JAVASCRIPT对象*@
    <div class="js-code" data-id="JSobject">        
        function jsObj() {
            var obj = { charged: '0%' };

            var JSobject = anime({
                targets: obj,
                charged: '100%',
                round: 1,
                easing: 'linear',
                update: function () {
                var el = document.querySelector('#JSobject pre');
                el.innerHTML = JSON.stringify(obj);
                }
            });
            /*
            round 通过舍入值来删除小数
            默认 false
            类型 number，boolean，function(target, index, totalTargets)
            10次幂 例：round:100 取两位小数
            */
        }
        jsObj();   // 立即执行
    </div>

    @*JAVASCRIPT数组*@
    <div class="js-code" data-id="JSarray">                
        function jsArr() {
            $('#JSarray .square').css('transform', 'translateX(0px)');

            var el = document.querySelector('#JSarray .el-01');

            var JSarray = anime({
            targets: [el, '#JSarray .el-02', '#JSarray .el-03'],
            translateX: 250
            });
        }
        jsArr();   // 立即执行
    </div>
}

@section scripts {

<script>
    // CSS选择器
    function cssSel() {
        var cssSelector = anime({
            targets: '#cssSelector .el',
            translateX: 250
        });
    }
    cssSel();   // 立即执行

    // DOM元素
    function domNode() {
        var el = document.querySelector('#domNode .el');

        var domNode = anime({
            targets: el,
            translateX: 250
        });
    }
    domNode();   // 立即执行

    // DOM元素列表
    function nodeList() {
        var els = document.querySelectorAll('#nodeList .el');

        var nodeList = anime({
            targets: els,
            translateX: 250
        });
    }
    nodeList();   // 立即执行

    // JAVASCRIPT对象
    function jsObj() {
        var obj = { charged: '0%' };

        var JSobject = anime({
            targets: obj,
            charged: '100%',
            round: 1,
            easing: 'linear',
            update: function () {
                var el = document.querySelector('#JSobject pre');
                el.innerHTML = JSON.stringify(obj);
            }
        });
        /*
        round 通过舍入值来删除小数
        默认 false
        类型 number，boolean，function(target, index, totalTargets)
        10次幂 例：round:100 取两位小数
        */
    }
    jsObj();   // 立即执行

    // JAVASCRIPT数组
    function jsArr() {
        var el = document.querySelector('#JSarray .el-01');

        var JSarray = anime({
            targets: [el, '#JSarray .el-02', '#JSarray .el-03'],
            translateX: 250
        });
    }
    jsArr();   // 立即执行

    $(document).ready(function () {
        // CSS选择器 单击再次动作
        $('#cssSelector').click(function () {
            $(this).find('.el').css('transform', 'translateX(0px)');

            cssSel();
        })

        // DOM元素 单击再次动作
        $('#domNode').click(function () {
            $(this).children('.el').css('transform', 'translateX(0px)');

            domNode();
        })

        // DOM元素列表 单击再次动作
        $('#nodeList').click(function () {
            $(this).find('.el').css('transform', 'translateX(0px)');

            nodeList();
        })

        // JAVASCRIPT对象 单击再次动作
        $('#JSobject').click(function () {
            jsObj();
        })

        // JAVASCRIPT数组 单击再次动作
        $('#JSarray').click(function () {
            $(this).find('.el').css('transform', 'translateX(0px)');

            jsArr();
        })
    });
</script>

}