
@{
    ViewBag.Title = "Targets";
    Layout = "~/Areas/Study/Views/Program/Shared/_LayoutAnimeJs.cshtml";
}

@section csses {
    <style>
        .square,
        .circle {
            pointer-events: none;
            position: relative;
            width: 28px;
            height: 28px;
            margin: 1px;
            background-color: #FF7C72;/*currentColor*/
            font-size: 12px;
        }

        .small {
            width: 18px;
            height: 18px;
        }

        .large {
            width: 48px;
            height: 48px;
        }

        .line {
          width: 100%;
          padding: 1px 0px;
        }
    </style>
}

<h2>动画目标</h2>


<div class="col-12">
    <h4 class="mt-4" id="cssSel">CSS选择器</h4>
    <div class="code-div">
        <div id="cssSelector">
            <div class="line">
                <div class="square el" id="aaa"></div>
            </div>
        </div>
    </div>

    <h4 class="mt-4">DOM元素</h4>
    <div class="code-div">
        <div id="domNode">
            <div class="large square el"></div>
        </div>
    </div>

    <h4 class="mt-4">DOM元素列表</h4>
    <div class="code-div">
        <div id="nodeList">
            <div class="line">
                <div class="small square el"></div>
            </div>
            <div class="line">
                <div class="small square el"></div>
            </div>
            <div class="line">
                <div class="small square el"></div>
            </div>
        </div>
    </div>

    <h4 class="mt-4">JAVASCRIPT对象</h4>
    <div class="code-div">
        <div id="JSobject">
            <pre>{"charged":"18%"}</pre>
        </div>
    </div>

    <h4 class="mt-4">JAVASCRIPT数组</h4>
    <div class="code-div">
        <div id="JSarray">
            <div class="line">
                <div class="square el-01" @*style="transform: translateX(296.588px);"*@></div>
            </div>
            <div class="line">
                <div class="square el-02" @*style="transform: translateX(296.588px);"*@></div>
            </div>
            <div class="line">
                <div class="square el-03" @*style="transform: translateX(296.588px);"*@></div>
            </div>
        </div>
    </div>

</div>


@section scripts {

<script>
    // CSS选择器
    function cssSel() {
        $('#cssSelector .el').css('transform', 'translateX(0px)');
        var cssSelector = anime({
            targets: '#cssSelector .el',
            translateX: 250
        });
    }
    cssSel();   // 立即执行

    // DOM元素
    function domNode() {
        $('#domNode .el').css('transform', 'translateX(0px)');

        var el = document.querySelector('#domNode .el');

        var domNode = anime({
            targets: el,
            translateX: 250
        });
    }
    domNode();   // 立即执行

    // DOM元素列表
    function nodeList() {
        $('#nodeList .el').css('transform', 'translateX(0px)');

        var els = document.querySelectorAll('#nodeList .el');

        var nodeList = anime({
            targets: els,
            translateX: 250
        });
    }
    nodeList();   // 立即执行

    // JAVASCRIPT对象
    function jsObj() {
        var obj = { charged: '0%' };

        var JSobject = anime({
            targets: obj,
            charged: '100%',
            round: 1,
            easing: 'linear',
            update: function () {
                var el = document.querySelector('#JSobject pre');
                el.innerHTML = JSON.stringify(obj);
            }
        });
        /*
        round 通过舍入值来删除小数
        默认 false
        类型 number，boolean，function(target, index, totalTargets)
        10次幂 例：round:100 取两位小数
        */
    }
    jsObj();   // 立即执行

    // JAVASCRIPT数组
    function jsArr() {
        $('#JSarray .square').css('transform', 'translateX(0px)');

        var el = document.querySelector('#JSarray .el-01');

        var JSarray = anime({
            targets: [el, '#JSarray .el-02', '#JSarray .el-03'],
            translateX: 250
        });
    }
    jsArr();   // 立即执行

    $(document).ready(function () {
        // CSS选择器 单击再次动作
        $('#cssSelector').click(function () {
            cssSel();
        })

        // DOM元素 单击再次动作
        $('#domNode').click(function () {
            domNode();
        })

        // DOM元素列表 单击再次动作
        $('#nodeList').click(function () {
            nodeList();
        })

        // JAVASCRIPT对象 单击再次动作
        $('#JSobject').click(function () {
            jsObj();
        })

        // JAVASCRIPT数组 单击再次动作
        $('#JSarray').click(function () {
            jsArr();
        })
    });
</script>

}