
@{
    ViewBag.Title = "Y2019";
}

@section csses {
    <style>
        /*div, p {
            color:#ffc107;
        }*/
    </style>
}

<div class="swiper-container" id="banner" style="background-image: url('/Areas/H5/Images/101.jpg');">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            @*<p>Animate.css1</p>*@
            @*<div class="ani display-3 text-black-50" swiper-animate-effect="rotateIn" swiper-animate-duration="1s" swiper-animate-delay="0.3s">Animate.css</div>*@
            <img class="ani" src="~/Areas/H5/Images/2019.png" style="left:200px;top:188px;z-index:3;" swiper-animate-effect="bounceInUp" swiper-animate-duration="1s" swiper-animate-delay="0.3s"/>
        </div>
        <div class="swiper-slide">
            <p>Animate.css2</p>
            <div class="ani display-3 text-v-lgdt-btg" swiper-animate-effect="rubberBand" swiper-animate-duration="1s" swiper-animate-delay="0.3s">Animate.css</div>
            <div class="ani text-center" style="left:300px;top:650px;z-index:3;" swiper-animate-effect="rubberBand" swiper-animate-duration="1s" swiper-animate-delay="0.3s">
                Animate.css
            </div>
        </div>
        <div class="swiper-slide">
            <p>Animate.css3</p>
            <div class="ani display-3 text-white" swiper-animate-effect="fadeInDown" swiper-animate-duration="1s" swiper-animate-delay="0.3s">Animate.css</div>
            <div class="ani text-center" style="left:0px;top:0px;z-index:3;" swiper-animate-effect="fadeInDown" swiper-animate-duration="1s" swiper-animate-delay="1.3s">
                Animate.css
            </div>
        </div>
        <div class="swiper-slide">
            <p>Animate.css4</p>
            <div class="ani display-3 text-v-lgdt-vtb" swiper-animate-effect="fadeInUp" swiper-animate-duration="1s" swiper-animate-delay="0.3s">Animate.css</div>
            <div class="ani text-center" swiper-animate-effect="fadeInUp" swiper-animate-duration="1s" swiper-animate-delay="1.3s">
                Animate.css
            </div>
        </div>

        <div class="swiper-slide">
            <p>Animate.css5</p>
            <div class="ani text-center" swiper-animate-effect="fadeInUp" swiper-animate-duration="1s" swiper-animate-delay=".3s">
                Animate.css
            </div>
        </div>
    </div>

    <!-- 如果需要分页器 -->
    <div class="swiper-pagination"></div>
</div>




@section scripts {

    <script>
        var bannerSwiper = new Swiper('#banner', {
            direction: 'vertical',  // 竖向切换
            mousewheel: true,       // 鼠标滚轮

            // 如果需要分页器
            pagination: {
                el: '.swiper-pagination',
            },

            on: {
                init: function () {
                    swiperAnimateCache(this); //隐藏动画元素
                    swiperAnimate(this); //初始化完成开始动画
                },
                slideChangeTransitionEnd: function () {
                    swiperAnimate(this); //每个slide切换结束时也运行当前slide动画
                    //this.slides.eq(this.activeIndex).find('.ani').removeClass('ani'); //动画只展现一次，去除ani类名
                }
            }
        })
    </script>
}