
@{
    ViewBag.Title = "关于我们";
}

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <a href=@Url.Action("Building", "Assistant")>
                <img class="d-block w-100" src="~/Images/banner01.jpg" alt="First slide">
            </a>
        </div>
        <div class="carousel-item">
            <a href=@Url.Action("Building", "Assistant")>
                <img class="d-block w-100" src="~/Images/banner02.jpg" alt="Second slide">
            </a>
        </div>
        <div class="carousel-item">
            <a href="~/Study">
                <img class="d-block w-100" src="~/Images/banner03.jpg" alt="Third slide">
            </a>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        @*<span class="sr-only">Previous</span>*@
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        @*<span class="sr-only">Next</span>*@
    </a>
</div>



@*<div class="swiper-container" id="anim">
    <div class="swiper-wrapper">
        <div class="swiper-slide bg-info" style="min-height:200px;">
            <p></p>
            <div class="ani display-3 text-center text-black-50" swiper-animate-effect="rotateIn" swiper-animate-duration="1s" swiper-animate-delay="0.3s">Animate.css</div>
        </div>
        <div class="swiper-slide bg-danger" style="min-height:200px;">
            <p></p>
            <div class="ani display-3 text-center text-v-lgdt-btg" swiper-animate-effect="rubberBand" swiper-animate-duration="1s" swiper-animate-delay="0.3s">Animate.css</div>
        </div>
        <div class="swiper-slide bg-success" style="min-height:200px;">
            <p></p>
            <div class="ani display-3 text-center text-white" swiper-animate-effect="fadeInDown" swiper-animate-duration="1s" swiper-animate-delay="0.3s">Animate.css</div>
        </div>
        <div class="swiper-slide bg-dark" style="min-height:200px;">
            <p></p>
            <div class="ani display-3 text-center text-v-lgdt-vtb" swiper-animate-effect="fadeInUp" swiper-animate-duration="1s" swiper-animate-delay="0.3s">Animate.css</div>
        </div>
    </div>

    <!-- 如果需要分页器 -->
    <div class="swiper-pagination"></div>

    <!-- 如果需要导航按钮 -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

    <!-- 如果需要滚动条 -->
    <!--<div class="swiper-scrollbar"></div>-->
</div>*@

<div style="height:1800px;"></div>
        尾巴


@section scripts {

    <script>
    
    </script>
}