
@{
    ViewBag.Title = "联系我们";
}



<div class="row ml-0 mr-0 mt-5">

    <div class="col-10 offset-1 bg-teal-7">
        <h4>地址：海南省海口市***</h4>
        <hr />

    </div>

</div>

@section scripts {
}
