
@{
    ViewBag.Title = "首页";
}

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <a href=@Url.Action("Building", "Assistant")>
                <img class="d-block w-100" src="~/Images/banner01.jpg" alt="First slide">
            </a>
        </div>
        <div class="carousel-item">
            <a href=@Url.Action("Building", "Assistant")>
                <img class="d-block w-100" src="~/Images/banner02.jpg" alt="Second slide">
            </a>
        </div>
        <div class="carousel-item">
            <a href="~/Study">
                <img class="d-block w-100" src="~/Images/banner03.jpg" alt="Third slide">
            </a>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        @*<span class="sr-only">Previous</span>*@
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        @*<span class="sr-only">Next</span>*@
    </a>
</div>

<div class="mt-5 text-center display-4 text-h-lgdt-vtb rubberBand ani-dur-2">@*zoomInUp*@
    欢迎来到
    <span class="hub-lg m-1">琼游记</span>
    翱翔！
</div>

<div style="height:800px;"></div>
尾巴