<?xml version="1.0"?>
<ArrayOfAccessConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  
  <AccessConfigInfo>
    <Area>Tools</Area>
    <Control>UEditor</Control>
    <Action>AllAction</Action>
    <Value>2,3,4,5,7</Value>
  </AccessConfigInfo>

  <AccessConfigInfo>
    <Area>Tools</Area>
    <Control>UEditor</Control>
    <Action>Add</Action>
    <Value>6</Value>
  </AccessConfigInfo>

  <AccessConfigInfo>
    <Area>Tools</Area>
    <Control>UEditor</Control>
    <Action>Delete</Action>
    <Value>6</Value>
  </AccessConfigInfo>
  
  <AccessConfigInfo>
    <Area>Tools</Area>
    <Control>UEditor</Control>
    <Action>List</Action>
    <Value>6</Value>
  </AccessConfigInfo>

  <AccessConfigInfo>
    <Area>Invest</Area>
    <Control>Qxc</Control>
    <Action>GetData</Action>
    <Value>0</Value>
  </AccessConfigInfo>

  <AccessConfigInfo>
    <Area>Invest</Area>
    <Control>Pl5</Control>
    <Action>GetData</Action>
    <Value>0</Value>
  </AccessConfigInfo>
  
</ArrayOfAccessConfigInfo >